<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Todos</title>
</head>

<body>
  <table>
    <thead>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
    </thead>
    {{#each todos}}
    <tr>
      <td>
        {{this.id}}
      </td>
      <td>
        {{this.name}}
      </td>
    </tr>
    {{/each}}
  </table>
</body>

</html>
