<html>

<head>
  {{> commonHeader }}
  <script src="login_page/index.js" type="module"></script>
</head>

<body>
  <div class="flex justify-center items-center mt-10">
    <div class="card card-bordered bg-base-100 w-96 shadow-xl">
      <div class="card-body items-center">
        <h1 class="card-title">
          Login
        </h1>
        <form class="flex gap-4 flex-col" hx-post="/login" hx-target="#login_form_data_inputs">
          <div id="login_form_data_inputs">
            {{> loginFormDataInputs}}
          </div>
          <a class="link link-primary" href="/register">
            Register
          </a>
          <button class="btn" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
