<html>

<head>
  {{> commonHeader }}
  <script src="register_page/index.js" type="module"></script>
</head>

<body>
  <div class="flex justify-center items-center mt-10">
    <div class="card card-bordered bg-base-100 w-96 shadow-xl">
      <div class="card-body items-center">
        <h1 class="card-title">
          Register
        </h1>
        <form class="flex gap-4 flex-col" hx-post="/register" hx-target="#register_form_data_inputs">
          <div id="register_form_data_inputs">
            {{> registerFormDataInputs }}
          </div>
          <a class="link link-primary" href="/login">
            Back to login
          </a>
          <button class="btn loading-btn" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
