<dialog id='delete_todo_{{id}}_modal' class='modal'>
  <div class='modal-box'>
    <h3 class='text-lg font-bold'>Delete todo id {{id}}</h3>
    <div class='modal-action'>
      <form method='dialog'>
        <div class='flex gap-2 items-center'>
          <button class='btn'>Cancel</button>
          <button
            class='btn btn-primary loading-btn'
            hx-delete='/todos-page/{{id}}'
            hx-swap='none'
          >
            <span class='loading loading-spinner'>
            </span>
            Confirm
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>
