<dialog id='create_or_edit_todo_modal' class='modal'>
  <div class='modal-box'>
    <h3 class='text-lg font-bold' id='create_or_edit_todo_modal_title'>
    </h3>
    <form id='create_or_edit_todo_modal_form'>
      <div id='todo_modal_form_inputs'>
      </div>
      <div class='modal-action'>
        <button class='btn' type='reset' onclick='create_or_edit_todo_modal.close()'>
          Cancel
        </button>
        <button class='btn btn-primary' type='submit'>
          Confirm
        </button>
      </div>
    </form>
  </div>
</dialog>
