<dialog id='delete_todo_{{id}}_modal' class='modal'>
  <div class='modal-box'>
    <h3 class='text-lg font-bold'>Delete todo id {{id}}</h3>
    <div class='modal-action'>
      <form method='dialog'>
        <button class='btn'>Cancel</button>
        <button class='btn btn-primary' hx-delete='/todos-page/{{id}}'>
          Confirm
        </button>
      </form>
    </div>
  </div>
</dialog>
