<html>

<head>
  {{> commonHeader }}
  <script src='todos_page/index.js' defer></script>
</head>

<body>
  <div class='p-2.5'>
    <h1 class='text-center text-2xl font-bold'>
      Todo list
    </h1>
    <div class='flex justify-end'>
      <button class='btn btn-success loading-btn' hx-get='/todos-page/todo-inputs' hx-target='#todo_modal_form_inputs'>
        <span class='loading loading-spinner'></span>
        Create
      </button>
    </div>
    <form id='todo_filter_form' class='m-0 flex gap-2 items-center justify-center' hx-get='/todos-page/todo-items'
      hx-target='#todo_table_body' hx-trigger='getTodoItemsEvent from:body, load' hx-swap='innerHTML'>
      <label class="input input-bordered input-sm flex items-center gap-2">
        ID
        <input name='id' type="text" class="grow" value='{{idParam}}' />
      </label>
      <label class="input input-bordered input-sm flex items-center gap-2">
        Email
        <input name='email' type="text" class="grow" value='{{emailParam}}' />
      </label>
      <label class="input input-bordered input-sm flex items-center gap-2">
        Name
        <input name='name' type="text" class="grow" value='{{nameParam}}' />
      </label>
      <button type='submit' class='btn btn-active'>
        Search
      </button>
    </form>
    {{> createOrEdittodoModal }}
    <table class='table table-zebra'>
      <thead>
        <th>
          ID
        </th>
        <th>
          Email
        </th>
        <th>
          Name
        </th>
        <th class='w-52'>
          Action
        </th>
      </thead>
      <tbody id='todo_table_body'>
      </tbody>
    </table>
  </div>
</body>

</html>
