<html>

<head>
  {{> commonHeader }}
  <script src='todos_page/index.js' defer></script>
</head>

<body>
  <div class='p-2.5'>
    <h1 class='text-center text-2xl font-bold'>
      Todo list
    </h1>
    <button class='btn btn-success float-right' hx-get='/todos-page/todo-inputs' hx-target='#todo_modal_form_inputs'>
      Create
    </button>
    {{> createOrEdittodoModal }}
    <table class='table table-zebra' hx-get='/todos-page/todo-items' hx-target='#todo_table_body'
      hx-trigger='getTodoItemsEvent from:body, load' hx-swap='innerHTML'>
      <thead>
        <th>
          ID
        </th>
        <th>
          Email
        </th>
        <th>
          Name
        </th>
        <th>
          Action
        </th>
      </thead>
      <tbody id='todo_table_body'>
      </tbody>
    </table>
  </div>
</body>

</html>
