<!DOCTYPE html>
<html>

<head>
  {{> commonHeader }}
  <script src="todos_page/index.js" defer></script>
</head>

<body>
  <div class="p-2.5">
    <h1 class="text-center text-2xl font-bold">
      Todo list
    </h1>
    <button class="btn btn-success float-right" onclick="create_todo_modal.showModal()">
      Create
    </button>
    {{> createTodoModal }}
    <table class="table table-zebra">
      <thead>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Action
        </th>
      </thead>
      <tbody id='todo_table_body'>
        {{#each todos}}
        {{> todoItemRow this }}
        {{/each}}
      </tbody>
    </table>
  </div>
</body>

</html>
